body
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
ul
{
    position: fixed;
    top: 50%;
    Left: 0;
    transform: translateY(-50%);
    margin: 0;
    padding: 0;
    z-index: 1;
}
ul li
{
    list-style: none;
}

ul li a 
{
    display: block;
    text-decoration: none;
    height: 30px;
    Line-height: 30px;
    font-size: 24px;
    background: #fff;
    width: 140px;
    color: #262626;
    margin: 4px 0;
    padding-Left: 15px;
    text-transform: uppercase;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

ul li a:hover
{
background: #262626;
color: #fff;
}
#container
{
    width: 100%;
    height: 100vh;
    scroll-behavior: smooth;
    overflow-y: scroll;
}
#container div
{
    position: relative;
    width: 100%;
    height: 100%;
}

#container div h1
{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 8em;
    text-transform: uppercase;
    color: #fff;
}
#container div#red
{
    background: red;
}
#container div#green
{
    background: green;
}
#container div#blue
{
    background: blue;
}
#container div#yellow
{
    background: yellow;
}
#container div#magenta
{
    background: magenta;
}